<% provide :title, 'About'%>

<% provide :head do %>
  <%= stylesheet_link_tag 'general' %>
<% end %>

<% provide :body do %>
  <%= link_to '[English]About', about_url(lang: 'en') %>

  <div id = "intro">
    <h2>Write your own AI!</h2>
    <p>Написать свой искусственный интеллект может каждый желающий. Это одна из главных идей этого сайта.</p>
    <p>По всему миру проводятся очень интересные соревнования, обычно называемые Code Game Challenge.
      Больше всего их проводится на различных олимпиадах по программированию, наподобие <%=link_to "\"ACM ICPC\"", 'http://icpc.baylor.edu/'%>
      Они заключаются в написании логики поведения для подконтрольного игроку юнита, существующего в игровом мире.</p>
    <p>Вспомните свою любимую игру.
      А что если вы могли бы запрограммировать поведение вашего персонажа и затем наблюдать, как он ведет себя под контролем вашего кода?
      Интересно, не так ли?
      На этом сайте вы можете сделать нечто подобное, причем откуда угодно и когда угодно.</p>
  </div>

  <div id="link"><%= link_to 'Зарегистрируйтесь', signup_url %> и начинте играть прямо сейчас!</div>

  <div id = "from-me">
    <h2>От создателя</h2>
    <p>Этот проект целиком создан одним человеком, в начале создания ничего не знавшим о
      вебе, Rails, JavaScript, HTML, CSS и ряде других веб — технологий.
      Это приключение дало мне много опыта и знаний. И стало хорошим испытанием.
      Ведь не так то просто сохранять спокойствие,
      когда каждая незнакомая функция оборачивается огромным списком ньюансов и вызывает не меньшее количество ошибок и вопросов.</p>
    <p>Также создание этого проекта заняло много времени при всем моем упорстве.
      Мне будет приятно, если вы <%=link_to 'поддержите', support_project_url(lang: 'ru')%> этот проект.
      Это мотивирует меня улучшать и дорабатывать AI – Project и дает мне знать, что это действительно вам интересно.</p>
    <hr>
    <p>Если у вас есть предложения или вы нашли ошибку — пишите об этом в форме справа ("Leave Feedback").</p>
    <p>Я буду исправлять их по мере своих сил и времени.
      Времени у меня сейчас очень мало - я получаю образование.
      Поэтому, если я запоздаю с очередными фиксами, не серчайте. :)</p>
  </div>
<% end %>