<% provide :title, 'Help'%>

<% provide :head do %>
  <%= stylesheet_link_tag 'static_pages/help'%>
<% end %>

<% provide :body do %>
  <div id = "header">
    <h1>\ <%=link_to "AI - Project", root_url%> \ Help</h1>
    <h2>Write your own AI!</h2>
  </div>

  <div id = "contents">
    <h1> Contents </h1>
    <ul>
      <li><%= link_to "User Interface", "#ui"%></li>
      <li><%= link_to "Gaming Sessions", "#gaming-sessions"%></li>
      <li><%= link_to "Game Tutorial", "#game-tutorial"%>
        <ul>
          <li><%= link_to "Game World determinations", "#game-determinations"%></li>
          <li><%= link_to "The Game World", "#game-world"%>
            <ul>
              <li><%= link_to "Game world units of measure", "#game-world-measure-units"%></li>
              <li><%= link_to "Game world getters", "#game-world-getters"%></li>
              <li><%= link_to "Game world objects", "#game-world-objects"%>
                <ul>
                  <li><%= link_to "Unit", "#unit-info"%></li>
                  <li><%= link_to "Shell", "#shell-info"%></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div id = "links">
    <h1>Links</h1>
    <ul>
      <li><%= link_to '[Russian]Помощь', help_url(:lang => 'ru')%></li>
    </ul>
  </div>

  <div id = "ui">
    <h1>About user interface</h1>
    <p class="intro">The site has 5 main pages</p>
    <h2>1) Main Page</h2>
    <div class="short-descr">You can almost always get to this page by clicking the
      AI-Project title in the upper left corner of each page
      This page is home page of project. From here you can:
    </div>
    <ul>
      <li>Get in your Account Settings</li>
      <li>Start the game</li>
      <li>Sign out</li>
      <li>Go to page
        <ul>
          <li>"Reference"</li>
          <li>"About the project"</li>
        </ul>
      </li>
    </ul>


    <h2>2) Wait Page</h2>
    <div class = "short-descr">On this page you expect to create a game session.
      When it is created, you will be redirected to the page the game (Game Page).
    </div>


    <h2>3) Game Page</h2>
    <div class = "short-descr">Here you can write a strategy for your unit.
      a) to send the strategy and at the same time check it for mistakes you can press the <i>Send Code & Check Errors</i>
      <i>on server always been last sent syntactically correct version of your code</i>
      b) To see how your strategy, you can go to the Simulation by clicking <i>Simulation</i> button.
    </div>

    <h2>4) Simulation Page</h2>
    <div class="short-descr">On this page you can see how your unitopposing to unit of another player.
      Also you can see here run-time errors of processing system.
      Fix them to see the "simulation".
    </div>


    <h2>5) Game Results Page</h2>
    A page with the results of a gaming session.

    <strong>About all errors should be reported using the form on the right.</strong>
  </div>

  <div id = "gaming-sessions">
    <h1>About gaming sessions</h1>
    <div class="short-descr">Game sessions are limited in time.
      After the allotted time, you can not send your code to the server,
      but you can see the game on the page <i>Simulation</i>.
      To complete the game, click on <i>Finish game</i> on page <i>Game Page</i> or <i>Simulation</i>.
      Then you will not be able to view the latest game session's simulation.
    </div>
  </div>

  <div id = "game-tutorial">
    <h1>Game tutorial</h1>

    <div id = "game-determinations">
      <h2>1) Game world determinations</h2>
      <dl class="section-content">
        <dt>Strategy</dt>
        <dd class="short-descr">Player's code that defines behavior of the unit.</dd>
        <hr>
        <dt>The processing system (simulator)</dt>
        <dd class="short-descr">A system that performs simulation game world based on policies written by players.</dd>
        <hr>
        <dt>The step</dt>
        <dd>The time in which the code of all players executed exactly one time.
          <ul>
            <li>At every step Simulator executes code of all strategies and processes behavior of their units</li>
            <li>On each step unit can travel distance less than or equal <i>World::GoToDistanceLimit</i></li>
            <li>and shoot many times how much he has enough mana</li>
          </ul>
        </dd>
      </dl>
    </div>


    <div id="game-world">
      <h2>2) The game world</h2>
      <%= image_tag('game_sessions/background.jpg', width: '50%', alt: 'Game World', title: 'Game World', id: 'game-world-picture')%>
      <ul>
        <li>The game world is a square with a side of <i>World :: MapSize</i></li>
        <li>Navigating in the world is produced by means of coordinates <i>(x, y)</i></li>
        <li>The coordinate origin is at the upper left corner</li>
        <li>The values ​​that can take the x and y lie in the range <i>[0; World :: MapSize]</i></li>
      </ul>

      <div id = "game-world-measure-units">
        <h3>Units of measure received in the game world</h3>
        <ul>
          <li><em>Game meter (G. M.)</em> - the orange line is marked in the picture below</li>
          <%= image_tag('static_pages/game_meter.png', width: '10%')%>
          <li><em>Game second (G. S.)</em> - analogue of the real seconds, a uniform characteristic of time</li>
          <li><em>Game meter / game second (G. M. / G. S.)</em> - Speed</li>
        </ul>

        <table border="1" class="section-content">
          <caption>Game world units of measure</caption>
          <tr>
            <th>Value</th>
            <th>Measurement units</th>
            <th>Abbreviation</th>
          </tr>

          <tr><td>S (distance)</td><td>game meter</td><td>g.m.</td></tr>
          <tr><td>T (time)</td><td>game second</td><td>g.s.</td></tr>
          <tr><td>V (Speed)</td><td>game meter / game second</td><td>g.m. / g.s.</td></tr>
        </table>
      </div>

      <div id = "game-world-getters">
        <h3>Game World Getters</h3>
        You can get information about all Units and Shells (fireballs) by two methods
        <ul>
          <li><i>units_info</i> - returns array of hashes</li>
          Each hash is
          <ul>
            <li><i>id</i> = hash[:id]</li>
            <li><i>location</i> = hash[:location] = Struct (Location.new(x, y))</li>
            <ul>
              <li>x = hash[:location][:x]</li>
              <li>y = hash[:location][:y]</li>
            </ul>
            <li><i>state</i> = hash[:state] = Struct (State.new(hp, mp))</li>
            <ul>
              <li>hp = hash[:state][:hp]</li>
              <li>mp = hash[:state][:mp]</li>
            </ul>
          </ul>
          <li><i>shells_info</i> - returns array of hashes</li>
          Each hash is
          <ul>
            <li><i>id</i> = hash[:id]</li>
            <li><i>location</i> = hash[:location] = Struct (Location.new(x, y))</li>
            <ul>
              <li>x = hash[:location][:x]</li>
              <li>y = hash[:location][:y]</li>
            </ul>
            <li><i>destination</i> = hash[:destination] = Struct (Location.new(hp, mp))</li>
            <ul>
              <li>x_d = hash[:destination][:x]</li>
              <li>y_d = hash[:destination][:y]</li>
            </ul>
          </ul>
        </ul>
      </div>

      <div id = "game-world-objects">
        <h2>About game world's objects</h2>
          Location of objects defined using the coordinates of the center.
        </div>

        <div id = "unit-info">
          <h3>Unit</h3>
          <div class = "short-descr">In the game world Unit is shaped like a circle with a radius of Unit :: Radius.
            At the moment, all the characteristics of all units are the same.
            Below are properties and methods of Unit that are relevant today.
          </div>

          <h4>Constants</h4>
          <ul>
            <li><i>Unit</i> :: <i>Speed</i></li>
            <li><i>Unit</i> :: <i>Radius</i></li>
            <li><i>Unit</i> :: <i>MaxHP</i></li>
            <li><i>Unit</i> :: <i>MapMP</i></li>
          </ul>


          <h4>Properties (class fields of Unit)</h4>
          <ul>
            <li><i>id</i> - unit identifier</li>
            <li><i>state</i> – current state of Unit <br>
              Struct (State.new(hp, mp))
              <ul>
                <li>hp = @my_unit.state[:hp]</li>
                <li>mp = @my_unit.state[:mp]</li>
              </ul>
            </li>

            <li><i>location</i> – current location of Unit <br>
              Struct (Location.new(x, y))
              <ul>
                <li>x = @my_unit.location[:x]</li>
                <li>y = @my_unit.location[:y]</li>
              </ul>
            </li>
          </ul>

          <h4>Methods</h4>
          <h5>Moving</h5>
          <h6>go_to (<i>x</i>, <i>y</i>)</h6>
          <div class = "short-descr">Go to a point with coordinates <i>(x, y)</i></div>

          <strong>Features:</strong>
          <ul>
           <li>Unit can travel a total distance of less than <i>World :: GoToDistanceLimit</i></li>
          </ul>

          <strong>Restrictions:</strong>
          <ul>
            <li>1) The distance of zero length</li>
            <li>2) attempts to go beyond the field</li>
            <li>3) Trying to go the distance, a greater than <i>World :: GoToDistanceLimit</i> for 1 turn</li>
          </ul>


          <h5>Attack</h5>
          <h6>shoot_to (<i>x</i>, <i>y</i>)</h6>
          <div class="short-descr">Shot into the point with coordinates <i>(x, y)</i>
            Shot consists of 2 phases:
          </div>
          <ol>
            <li>Call the Shell (it lasts <i>World :: ShellDelay</i> game seconds)</li>
            At this time the unit can't move.
            <li>The appearance of the Shell</li>
            Immediately after the time the call appears Shell and flies to the point with coordinates <i>(x, y)</i>.
          </ol>

          <strong>Features:</strong>
          <ul>
          <li>The shell appears at a distance of <i>World :: ShootDistance</i> from the Unit</li>
            <li>Shell can damage any player, even a player, who run it</li>
            <li>The shell is destroyed when reaching a point <i>(x, y)</i></li>
            <li>With a lack of manna for the shot, the call phase of the projectile still happen</li>
          </ul>

          <strong>Restrictions:</strong>
          <ul>
            <li>You can not shoot beyond the field</li>
          </ul>
        </div>


        <div id = "shell-info">
          <h3>Shell</h3>
          <div class="section-content">In the game world Shell is shaped like a circle with a radius of <i>Shell :: Radius</i></div>
          <h4>Constants</h4>
          <ul>

            <li><i>Shell</i> :: <i>Speed</i> ​​(speed of the Shell)</li>
            <li><i>Shell</i> :: <i>Radius</i> (radius of the Shell)</li>
            <li><i>Shell</i> :: <i>Damage</i> (damage done by a Shell when touches a Unit)</li>
          </ul>

          <h4>Properties</h4>
          <ul>
            <li><i>location</i> – current location of Shell<br>
            Struct (Location.new(x, y))
              <ul>
                <li>x = location[:x]</li>
                <li>y = location[:y]</li>
              </ul>
            </li>

            <li><i>destination</i> — Shell's destination point <br>
            Struct (Location.new(x, y))
              <ul>
                <li>x = destination[:x]</li>
                <li>y = destination[:y]</li>
              </ul>
            </li>
          </ul>

          <strong>Features</strong>
          <ul>
            <li>Unit take Damage from Shell if only Shell touched Unit</li>
            <li>The shell is destroying in two cases:
              <ul>
                <li>When it touches the player</li>
                <li>When it reaches the point of destination</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>