<% provide :title, 'Help'%>

<% provide :head do %>
  <%= stylesheet_link_tag 'static_pages/help'%>
<% end %>

<% provide :body do %>
  <%= link_to 'English version of this page', help_url(:lang => 'en')%>


  <div id = "contents">
    <h1> Содержание </h1>
    <ul>
      <li><%= link_to "Интерфейс пользователя", "#ui"%></li>
      <li><%= link_to "Игровые сессии", "#gaming-sessions"%></li>
      <li><%= link_to "Туториал по игровому процессу", "#game-tutorial"%>
        <ul>
          <li><%= link_to "Главные определения", "#game-determinations"%></li>
          <li><%= link_to "Игровой мир", "#game-world"%>
            <ul>
              <li><%= link_to "Единицы измерения в игровом мире", "#game-world-measure-units"%></li>
              <li><%= link_to "Геттеры игрового мира", "#game-world-getters"%></li>
              <li><%= link_to "Объекты игрового мира", "#game-world-objects"%>
                <ul>
                  <li><%= link_to "Юнит (Unit)",    "#unit-info"%></li>
                  <li><%= link_to "Снаряд (Shell)", "#shell-info"%></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div id = "ui">
    <h1>Об интерфейсе пользователя</h1>
    <p class="intro">На сайте есть 5 основных страниц:</p>
    <h2>1) Main Page</h2>
    <div class="short-descr">Вы почти всегда можете попасть на эту страницу,
      кликнув по заголовку AI-Project, который находится в левом углу каждой страницы.
      Это домашняя страница проекта. С этой страницы вы можете:
    </div>
    <ul>
      <li>Попасть в настройки своего аккаунта</li>
      <li>Начать игру</li>
      <li>Выйти из аккаунта</li>
      <li>Перейти на страницу
        <ul>
          <li>"Справка"</li>
          <li>"О проекте"</li>
        </ul>
      </li>
    </ul>


    <h2>2) Wait Page</h2>
    <div class = "short-descr">На этой странице вы ожидаете создания игровой сессии.
      Когда она будет создана, вы будете перенаправлены на игровую страницу (Game Page).
    </div>


    <h2>3) Game Page</h2>
    <div class = "short-descr">Здесь вы можете писать стратегию для своего юнита.
      a) Чтобы отправить стратегию и заодно проверить ее на ошибки, вы можете нажать кнопку <i>Send Code & Check Errors</i>
      <i>На сервере хранится последняя отправленная корректная версия вашей стратегии (без синтаксических ошибок)</i>
      b) Чтобы посмотреть как работает ваша стратегия, вы можете перейти на страницу Simulation, нажав на кнопку <i>Simulation</i>
    </div>

    <h2>4) Simulation Page</h2>
    <div class="section-content">На этой странице вы можете увидеть как ваш юнит противостоит юниту другого игрока.
      Здесь же вы можете увидеть ошибки времени исполнения обрабатывающей системы.
      Исправьте их для того, чтобы увидеть «симуляцию».
    </div>


    <h2>5) Game Results Page</h2>
    <div class="content">
      Страница с результатами игровой сессии<br>
    </div>
  </div>

  <div id = "gaming-sessions">
    <h1>Об игровых сессиях</h1>
    <div class="short-descr">Игровые сессии ограничены по времени.
      По истечении отведенного времени, вы не можете отправлять код на сервер,
      но можете просматривать игру на странице <i>Simulation</i>.
      Чтобы завершить игру, нажмите на кнопку <i>Завершить игру</i> на странице <i>Game Page</i> или <i>Simulation</i>.
      После этого вы не сможете просматривать симуляцию последней игровой сессии.
    </div>
  </div>

  <div id = "game-tutorial">
    <h1>Игровой туториал</h1>

    <div id = "game-determinations">
      <h2>1) Игровые определения</h2>
      <dl class="section-content">
        <dt>Стратегия</dt>
        <dd class="short-descr">Код игрока, определяющий поведение юнита.</dd>
        <hr>
        <dt>Обрабатывающая система (симулятор)</dt>
        <dd class="short-descr">Система, выполняющая моделирование игрового мира, основываясь на написанных игроками стратегиях.</dd>
        <hr>
        <dt>Ход</dt>
        <dd>Он же такт для симулятора.
          Это время, за которое код всех стратегий выполнится ровно 1 раз.
          <ul>
            <li>На каждом шаге Симулятор запускает все стратегии и моделирует поведение их юнитов.</li>
            <li>На каждом шаге, юнит может пройти дистанцию не более <i>World::GoToDistanceLimit</i> и выстрелить столько раз, на сколько ему хватит манны.</li>
          </ul>
        </dd>
      </dl>
    </div>


    <div id="game-world">
      <h2>2) Игровой мир</h2>
      <%= image_tag('game_sessions/background.jpg', width: '50%', alt: 'Игровой мир', title: 'Игровой мир', id: 'game-world-picture')%>
      <ul>
        <li>Игровой мир имеет форму квадрата со стороной <i>World::MapSize</i></li>
        <li>Навигация в мире производится при помощи координат <i>(x, y)</i></li>
        <li>Начало системы координат лежит в левом верхнем углу</li>
        <li>Значения, которые могут принимать x и y лежат в диапазоне <i>[0; World::MapSize]</i></li>
      </ul>

      <div id = "game-world-measure-units">
        <h3>Единицы измерения, принятые в игровом мире</h3>
        <ul>
          <li><em>Игровой метр (и. м.)</em> - отмечен оранжевой линией на рисунке снизу</li>
          <%= image_tag('static_pages/game_meter.png', width: '10%')%>
          <li><em>Игровая секунда (и. с.)</em> - аналог реальных секунд, является равномерной характеристикой времени</li>
          <li><em>Игровой метр / игровая секунда (и. м. / и. с.)</em> - Скорость</li>
        </ul>

        <table border="1" class="section-content">
          <caption>Единицы измерения</caption>
          <tr>
            <th>Величина</th>
            <th>Единица измерения</th>
            <th>Сокращение</th>
          </tr>

          <tr><td>S (расстояние)</td><td>игровой метр</td><td>и.м.</td></tr>
          <tr><td>T (Время)</td><td>игровая секунда</td><td>и.с.</td></tr>
          <tr><td>V (Скорость)</td><td>игровой метр / игровая секунда</td><td>и.м. / и.с.</td></tr>
        </table>
      </div>

      <div id = "game-world-getters">
        <h3>Game World Getters</h3>
        Вы можете получить информуцию обо всех Units и Shells при помощи 2-ух методов
        <ul>
          <li><i>units_info</i> - возвращает массив хешей</li>
          Каждый hash это
          <ul>
            <li><i>id</i> = hash[:id]</li>
            <li><i>location</i> = hash[:location] = Struct (Location.new(x, y))</li>
            <ul>
              <li>x = hash[:location][:x]</li>
              <li>y = hash[:location][:y]</li>
            </ul>
            <li><i>state</i> = hash[:state] = Struct (State.new(hp, mp))</li>
            <ul>
              <li>hp = hash[:state][:hp]</li>
              <li>mp = hash[:state][:mp]</li>
            </ul>
          </ul>
          <li><i>shells_info</i> - возвращает массив хешей</li>
          Каждый hash это
          <ul>
            <li><i>id</i> = hash[:id]</li>
            <li><i>location</i> = hash[:location] = Struct (Location.new(x, y))</li>
            <ul>
              <li>x = hash[:location][:x]</li>
              <li>y = hash[:location][:y]</li>
            </ul>
            <li><i>destination</i> = hash[:destination] = Struct (Location.new(hp, mp))</li>
            <ul>
              <li>x_d = hash[:destination][:x]</li>
              <li>y_d = hash[:destination][:y]</li>
            </ul>
          </ul>
        </ul>
      </div>

      <div id = "game-world-objects">
        <h2>Об объектах игрового мира</h2>
        <div class = "short-descr">Все объекты на данный момент представляют собой окружности.
          Местоположение объектов задается при помощи координат их центра.
        </div>

        <div id = "unit-info">
          <h3>Юнит (Unit)</h3>
          <div class = "short-descr">В игровом мире имеет форму окружности с радиусом <i>Unit::Radius</i>
            На данный момент все характеристики юнитов одинаковы.
            Ниже приведены те их свойства и методы, которые актуальны на сегодняшний день.
          </div>

          <h4>Константы</h4>
          <ul>
            <li><i>Unit</i> :: <i>Speed</i></li>
            <li><i>Unit</i> :: <i>Radius</i></li>
            <li><i>Unit</i> :: <i>MaxHP</i></li>
            <li><i>Unit</i> :: <i>MapMP</i></li>
          </ul>


          <h4>Свойства (поля класса Unit)</h4>
          <ul>
            <li><i>id</i> - идентификатор юнита</li>
            <li><i>state</i> – текущее стоитояние юнита <br>
              Struct (State.new(hp, mp))
              <ul>
                <li>hp = @my_unit.state[:hp]</li>
                <li>mp = @my_unit.state[:mp]</li>
              </ul>
            </li>

            <li><i>location</i> – текущее местоположение юнита <br>
              Struct (Location.new(x, y))
              <ul>
                <li>x = @my_unit.location[:x]</li>
                <li>y = @my_unit.location[:y]</li>
              </ul>
            </li>
          </ul>

          <h4>Методы</h4>
          <h5>Перемещение</h5>
          <h6>go_to (<i>x</i>, <i>y</i>)</h6>
          <div class = "short-descr">Перейти в точку с координатами <i>(x, y)</i></div>

          <strong>Особенности:</strong>
          <ul>
            <li>За 1 ход юнит может пройти  в общей сложности дистанцию длиной <i>World::GoToDistanceLimit</i></li>
          </ul>

          <strong>Ограничения:</strong>
          <ul>
            <li>Дистанция, нулевой длины</li>
            <li>Попытки перейти за пределы поля</li>
            <li>Попытки пройти дистанцию, большую <i>World::GoToDistanceLimit</i> за 1 ход.</li>
          </ul>

          <hr>

          <h5>Атака</h5>
          <h6>shoot_to (<i>x</i>, <i>y</i>)</h6>
          <div class="short-descr">Выстрелить в точку с координатами <i>(x, y)</i>
            Выстрел состоит из 2 фаз:
          </div>
          <ol>
            <li>Призыв снаряда (длится <i>World::ShellDelay</i> игровых секунд)</li>
            В это время юнит стоит на месте.
            <li>Появление снаряда</li>
            Сразу же по истечении времени призыва, появляется снаряд и летит в точку с координатами <i>(x, y)</i>.
          </ol>

          <strong>Особенности:</strong>
          <ul>
            <li>Снаряд появляется на расстоянии <i>World::ShootDistance</i> от юнита</li>
            <li>Снаряд может нанести урон любому игроку, даже тому, который запустил его</li>
            <li>Снаряд уничтожается, достигнув точки <i>(x, y)</i></li>
            <li>При недостатке манны для выстрела, фаза призыва снаряда все равно произойдет</li>
          </ul>

          <strong>Ограничения:</strong>
          <ul>
            <li>Нельзя выстрелить за пределы поля</li>
          </ul>
        </div>


        <div id = "shell-info">
          <h3>Снаряд (Shell)</h3>
          <div class="section-content">В игровом мире имеет форму окружности с радиусом <i>Shell::Radius</i></div>
          <h4>Константы</h4>
          <ul>
            <li><i>Shell</i> :: <i>Speed</i> ​​(скорость снаряда)</li>
            <li><i>Shell</i> :: <i>Radius</i> (радиус снаряда)</li>
            <li><i>Shell</i> :: <i>Damage</i> (урон, наносимый снарядом при столкновении с юнитом)</li>
          </ul>

          <h4>Свойства</h4>
          <ul>
            <li><i>location</i> – текущее местоположение<br>
              Struct (Location.new(x, y))
              <ul>
                <li>x = location[:x]</li>
                <li>y = location[:y]</li>
              </ul>
            </li>

            <li><i>destination</i> — точка назначения снаряда <br>
              Struct (Location.new(x, y))
              <ul>
                <li>x = destination[:x]</li>
                <li>y = destination[:y]</li>
              </ul>
            </li>
          </ul>

          <strong>Особенности</strong>
          <ul>
            <li>Нанесение юниту урона происходит только тогда, когда снаряд задевает его</li>
            <li>Снаряд уничтожается в 2 случаях:
              <ul>
                <li>Когда задевает игрока</li>
                <li>Когда достигает точки назначения</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>