<% provide :title, 'About'%>

<% provide :head do %>
  <%= stylesheet_link_tag 'static_pages/support_project'%>
<% end %>

<% provide :body do %>
  <div id = "header">
    <h1>\ <%=link_to 'AI - Project', root_url%> \ Support Project</h1>
  </div>

  <%= link_to '[Russian]Поддержать проект', support_project_url(lang: 'ru')%>

  <div id = "message">
    Hi, Web - Wanderer.
    <p> What you visited this page makes me pleased.
      But I would be even more pleasant if you become part of this project.
      Develop and maintain this site is not so easy.
      And you can help me with this. </p>

    <p> You're better than I understand about Rails?
      Then you can give me some good advice. (Later I will publish a list of bottlenecks application) </p>

    <p> Do you know JavaScript, HTML or CSS? Excellent! Then you can point to this or that mistake on the pages.
      Found a bug? Better! Write about it using the form on the right (Comments and Suggestions). </p>

    <p> I will correct all defects to the extent of their strength and time, whom I now have too little.
      Therefore, do not be angry out - because I do not correct deficiencies in the day of their discovery. </p>

    <p> On the creation of this site spent a lot of time and effort.
      I hope you appreciate this creation of dignity. </p>
  </div>

  <div id = "donate">
    <div id = "donate-message">
      Some people have forgotten the true meaning of the word "donate".<br>
      Often, the word is used to mean "buy in-game things for real money."<br>
      Donate is a sacrifice and a gift.<br>
      If you think this site deserves a gift, you can donate this site :)
    </div>

    <div id="donate-resources">
      <ul>
        <li><%= link_to 'PayPal', 'https://www.paypal.com/'%> : staffofmousecorp@gmail.com</li>
        <li><%= link_to 'Qiwi', 'https://qiwi.com/'%> : +79377142765</li>
      </ul>
    </div>
  </div>
<% end %>