<% provide :title, 'About'%>

<% provide :head do %>
  <%= stylesheet_link_tag 'static_pages/support_project'%>
<% end %>

<% provide :body do %>
  <div id = "header">
    <h1>\ <%=link_to "AI - Project", root_url%> \ Support Project </h1>
  </div>

  <%= link_to '[English]Support project', support_project_url(lang: 'en')%>

  <div id = "message">
    Привет, Веб - Странник.
    <p>То, что уже зашел на эту страницу делает мне приятно.
      Но еще приятнее мне будет, если ты станешь частью этого проекта.
      Разрабатывать и поддерживать эту махину в одного не так то и просто.
      И ты можешь помочь мне в этом.</p>
    <p>Ты лучше меня разбираешься в Rails?
      Тогда ты можешь дать мне пару полезных советов. (Чуть позже я опубликую список узких мест приложения)</p>

    <p>Знаешь JavaScript, HTML или CSS? Отлично! Тогда ты можешь указать на ту или иную оплошность на страницах.
      Нашел ошибку? Еще лучше! Напиши об этом при помощи формы справа (Отзывы и предложения).</p>

    <p>Я буду исправлять все недочеты по мере своих сил и времени, коего сейчас у меня катастрофически мало.
      Потому, не серчайте из - за того, что я не исправляю недочеты в день их обнаружения.</p>

    <p>На создание этого сайта потрачено очень много времени и сил.
      Я надеюсь, ты оценишь это творение по достоинству.</p>
  </div>


  <div id = "donate">
    <div id="donate-message">
      Некоторые люди забыли истинное значение слова donate.<br>
      Часто это слово употребляется в значении "игровые покупки за реальные деньги".<br>
      Donate с английского - жертвовать, дарить.<br>
      Если вы считаете этот сайт достойным подарка, милости просим :)
    </div>

    <div id="donate-resources">
      <ul>
        <li><%= link_to 'PayPal', 'https://www.paypal.com/'%> : staffofmousecorp@gmail.com</li>
        <li><%= link_to 'Qiwi', 'https://qiwi.com/'%> : +79377142765</li>
      </ul>
    </div>
  </div>
<% end %>