<!--TODO bigger navbar-->
<div class="navbar navbar-default">
  <div class="navbar-header">
    <b><%= link_to 'AI - Project', root_url, class: 'navbar-brand', method: :get %></b>
  </div>

  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Help', 'help', method: :get %></li>
      <li><%= link_to 'About', 'about', method: :get %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
          <li>
            <%= link_to user_profile_path, method: :get do%>
                <span class="glyphicon glyphicon-star-empty"></span> Profile
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do%>
                <span class="glyphicon glyphicon-log-out"></span> Sign out
            <% end %>
          </li>
      <% else %>
          <li>
            <%= link_to new_user_registration_path, method: :get do %>
                <span class="glyphicon glyphicon-user"></span> Sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, method: :get do%>
                <span class="glyphicon glyphicon-log-in"></span> Login
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
