<% provide :title, 'Users New'%>
<% provide :head do %>
  <%= stylesheet_link_tag 'users/new' %>
  <% end %>
<% provide :body do %>
  <div id = "header">
    <h1>\ <%=link_to 'AI - Project', root_url%> \ Sign Up</h1>
    <h3>Write your own AI!</h3>
  </div>

  <%= render 'partials/error_messages'%>

  <%= form_for(@user) do |f|%>
      <%= f.label :name%>
      <%= f.text_field :name%>

      <%= f.label :email%>
      <%= f.text_field :email%>

      <%= f.label :password%>
      <%= f.password_field :password%>

      <%= f.label :password_confirmation, 'Confirmation'%>
      <%= f.password_field :password_confirmation%>

      <%= f.submit 'Sign me up!'%>
  <%end%>
<% end %>