<% provide :title, 'Finish Game' %>
<% provide :head do %>
  <%= stylesheet_link_tag 'game_sessions/finish_game'%>
<% end %>

<% provide :body do %>
    <h3><%= link_to 'To home page', home_url, id: 'home-link' %></h3>

    <%= content_tag :div, id: 'message' do |tag| %>
        <% if current_user.id == @game.winner_id %> Nice try!
        <% else %> You are a winner! Congratulations!
        <% end %>
    <% end %>

    <div id="game-results">
      <table class="table table-hover">
        <tr>
          <th>Nickname</th>
          <th>Avatar</th>
          <th>Is winner</th>
        </tr>

        <% @game.users.each do |user| %>
            <tr>
              <th><%= user.name %></th>
              <th><%= image_tag('game_sessions/unit.png') %></th>
              <th>
                <% if @game.winner_id == user.id %>
                    <span class="glyphicon glyphicon-star"></span>
                <% end %>
              </th>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>