<% provide :title, 'Game page'%>

<% provide :head do %>
    <%= javascript_include_tag 'lib/easytimer', 'game_timer', 'lib/codemirror', 'lib/ruby', 'code_io', 'game_page' %>
    <%= stylesheet_link_tag 'game_sessions/game_page', 'game_sessions/mdn-like', 'game_sessions/codemirror' %>
<% end %>

<% provide :body do %>
    <div id="code-window">
      <textarea id="code"><%= @user.player.code %></textarea>

      <div id="errors-window">
        <div id="errors-header">Errors:</div>
        <div id="errors-text">Syntax OK</div>
      </div>
    </div>

    <div id="info-panel">
      <div id="controls">
        <div id="buttons">
          <% if @game.is_active? %>
              <button id="send-code">Send Code</button>
          <% end %>
          <%= link_to "Simulation", simulation_path, method: :get %>
        </div>
        <div id="game-info">
          <div id="user-info">
            <div id="user-name"><%= @user.name %></div>
          </div>
          <%= render partial: 'partials/time_panel' %>
        </div>

      </div>

      <div id="game-help">
        <%= render partial: 'partials/game_help' %>
      </div>
    </div>
<% end %>

