<% provide :title, 'Game page'%>

<% provide :head do %>
  <%= javascript_include_tag 'lib/easytimer', 'game_timer', 'lib/codemirror', 'lib/fullscreen', 'lib/ruby', 'code_io', 'game_page' %>
  <%= stylesheet_link_tag 'game_sessions/game_page', 'game_sessions/mdn-like', 'game_sessions/codemirror', 'lib/fullscreen' %>
  <%= javascript_include_tag 'https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js'%>
  <!-- there is not many difference -load from google or from our site. First option may be better-->
<% end %>

<% provide :body do %>
    <div id="code-window">
      <textarea id="code"><%= @user.player.code %></textarea>

      <div id="errors-window">
        <div id="errors-header">Errors:</div>
        <div id="errors-text">Syntax OK</div>
      </div>
    </div>

    <div id="info-panel">
      <div id="controls">
        <div id="buttons">
          <% if @game.is_active? %>
              <button id="send-code">Send Code</button>
          <% else %>
              <button id="send-code" class="disabled">Send Code</button>
          <% end %>
          <%= link_to "Simulation", simulation_path, id: 'simulation-link', method: :get %>
        </div>

        <div id="game-info">
          <%= render partial: 'partials/time_panel' %>
          <div id="user-info">
            <div id="user-name">Name: <%= @user.name %></div>
          </div>
        </div>

      </div>

      <div id="game-help">
        <%= render partial: 'partials/game_help.html.md' %>
      </div>
    </div>
<% end %>

