<% provide :title, 'Game page'%>

<% provide :head do %>
    <%= javascript_include_tag 'lib/easytimer', 'game_timer', 'lib/codemirror', 'lib/ruby', 'code_io', 'game_page' %>
    <%= stylesheet_link_tag 'game_sessions/game_page', 'game_sessions/mdn-like', 'game_sessions/codemirror' %>
<% end %>

<% provide :body do %>
    <div class="container-fluid">
      <div class="row">
        <div id="code-window" class="col-lg-7 container">
          <div class="panel panel-default">
            <textarea id="code"><%= @user.player.code %></textarea>
            <%= content_tag(:div, 'Syntax OK', id: 'errors-text', class: 'panel-footer') %>
          </div>
        </div>

        <div id="info-panel" class="col-lg-5 container panel panel-default">
          <div class="row panel-heading">
            <div id="controls" class="col-lg-6 btn-group-vertical">
              <% if @game.is_active? %>
                  <button id="send-code" role="button" class="btn btn-lg btn-primary">Send Code</button>
              <% end %>
              <%= link_to "Simulation", 'simulation', class: "btn btn-lg btn-primary", method: :get %>
            </div>

            <div id="info" class="col-lg-6 panel panel-primary">
              <div class="panel-heading">Nickname:  <%= @user.name %></div>
              <div class="panel-body">
                <% unless @game.is_active? %>
                    <%= render :partial => 'partials/finish_game' %>
                <% else %>
                    <%= render :partial => 'partials/timer', :locals => {:time_remaining => @game.time_remaining} %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row panel-body">
            <div id="game-help" class="well">
              <%= render partial: 'partials/game_help' %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

