<% provide :title, 'Game page'%>

<% provide :head do %>
    <%= javascript_include_tag 'lib/easytimer', 'game_timer', 'lib/codemirror', 'lib/ruby', 'code_io', 'game_page' %>
    <%= stylesheet_link_tag 'game_sessions/game_page', 'game_sessions/mdn-like', 'game_sessions/codemirror' %>
<% end %>

<% provide :body do %>
    <div id="code-window">
      <textarea id="code"><%= @user.player.code %></textarea>

      <div id="errors-window">
        <div id="errors-header">Errors:</div>
        <div id="errors-text">Syntax OK</div>
      </div>
    </div>

    <div id="info-panel">
      <div id="controls">
        <% if @game.is_active? %>
            <button id="send-code">Send Code</button>
        <% end %>
        <%= link_to "Simulation", simulation_path %>

        Nickname:  <%= @user.name %>
        <% if not @game.is_active? %>
            <%= render :partial => 'partials/timer',
                       :locals => {:time_remaining => @game.time_remaining} %>
        <% else %>
            <%= button_to 'Finish game', finish_game_path,
                          :id => 'btn-finish-game', :method => :post %>
        <% end %>
      </div>

      <div id="game-help" class="well">
        <%= render partial: 'partials/game_help' %>
      </div>
    </div>
<% end %>

