<% provide :title, 'Last success Simulation'%>
<% provide :head do %>
  <%= javascript_include_tag 'jquery', 'lib/pixi', 'visualizer'%>
  <%= stylesheet_link_tag 'game_sessions/simulation'%>
<% end %>

<% provide :body do %>
    <div id="controls">
      <%= link_to 'Go back', 'game_page', method: :get %>
      <%= unless @game.is_active? %>
          <%= button_to 'Finish game', finish_game_path, :id => 'btn-finish-game', :method => :post %>
      <% end %>
    </div>

    <% if @simulator_output[:errors] %>
        <div id="errors">
          <div class="errors-header">Errors in simulation</div>
          <div class="errors-text"><%= @simulator_output[:errors] %></div>
        </div>
    <% end %>

    <div id="view">

    </div>

    <%= content_tag(:div, nil, id: "visualizer-info", style: 'display: none;',
                    data: {background_sprite: image_path('game_sessions/background.jpg'),
                           unit_sprite: image_path('game_sessions/unit.png'),
                           shell_sprite: image_path('game_sessions/shell_dark.png')}) %>
<% end %>