<% provide :title, 'Game Simulaion'%>
<% provide :head do %>
  <%= javascript_include_tag 'lib/pixi', 'visualizer'%>
  <%= stylesheet_link_tag 'game_sessions/simulation'%>
<% end %>

<% provide :body do %>
    <div id="controls">
      <%= link_to 'Go back', 'game_page', id: 'back-link', method: :get %>
      <% unless @game.time_remaining > 0 %>
          <div class="btn-group">
            <%= button_to finish_game_path, id: 'btn-finish-game', method: :post do%>
                <span class="glyphicon glyphicon-flag"></span> Finish game
            <% end %>
          </div>
      <% end %>
    </div>

    <div id="errors">
      <div id="errors-header">Errors in simulation</div>
      <div id="errors-text"></div>
    </div>

    <div id="view">
      <div id="please-wait">
        <div id="message-header">Please wait</div>
        <hr>
        <div id="message-body">It takes some time</div>
        <%= image_tag 'game_sessions/squares.gif', id: 'progress-pie' %>
      </div>
    </div>

    <%= content_tag(:div, nil, id: "visualizer-info", style: 'display: none;',
                    data: {background_sprite: image_path('game_sessions/background-xy.jpg'),
                           unit_sprite: image_path('game_sessions/unit.png'),
                           shell_sprite: image_path('game_sessions/shell_dark.png')}) %>
<% end %>