<% provide :title, 'Last success Simulation'%>
<% provide :head do %>
  <%= javascript_include_tag 'jquery', 'lib/pixi', 'visualizer'%>
  <%= stylesheet_link_tag 'game_sessions/simulation'%>
<% end %>

<% provide :body do %>
    <div id="controls">
      <%= button_to 'Go back', 'game_page', class: 'btn btn-info btn-lg', method: :get %>
      <% unless @game.is_active? %>
          <%= button_to 'Finish game', 'finish_game', class: 'btn btn-warning btn-lg' %>
      <% end %>
    </div>

    <% if @simulator_output[:errors] %>
        <div id="errors">
          <div class="errors-heading"><strong>Errors in simulation</strong></div>
          <div class="errors-text"><strong><%= @simulator_output[:errors] %></strong></div>
      </div>
    <% end %>

    <div id="view" class="row">
      <%= image_tag('game_sessions/squares.gif', id: 'wait-gif') %>
    </div>

  <script>
    // TODO здесь нужен ненавязчивый JavaScript
    var background_sprite_url = '<%=image_path('game_sessions/background.jpg')%>';
    var unit_sprite_url  = '<%=image_path('game_sessions/unit.png') %>';
    var shell_sprite_url = '<%=image_path('game_sessions/shell_dark.png') %>';

    var view = new View();
    view.run();
  </script>
<% end %>