<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">

      <title><%= yield :title%></title>

      <%= stylesheet_link_tag 'application' %>
      <%= javascript_include_tag 'application' %>
      <%= yield :head %>
    </head>

    <body>
    <%= render partial: 'partials/navbar' %>
    <div class="container-fluid">
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
      <%= yield :body %>
      <%= yield %>
    </div>
    </body>
</html>
